button:hover {
    opacity: 0.9;
    transform: scale(1.02);
    transition: all 0.2s ease-in-out;
  }


  
  img {
    transition: transform 0.3s ease-in-out;
  }
  
  img:hover {
    transform: scale(1.05);
  }

.dialog-scroll {
  overflow-y: auto; 
  max-height: 300px; 
  padding-right: 10px; 
}

/* Custom Scrollbar */
.dialog-scroll::-webkit-scrollbar {
  width: 10px; /* Scrollbar width */
}

.dialog-scroll::-webkit-scrollbar-track {
  background: rgba(255,0,0,0.1);
  border-radius: 10px;
}

.dialog-scroll::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #870000, #3d0000);
  border-radius: 10px;
}

/* Hover Effect on Scrollbar Thumb */
.dialog-scroll::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #3d0000, #870000);
}

/* Smooth Scrolling */
.dialog-scroll {
  scroll-behavior: smooth; /* Smooth scrolling experience */
}
